html
    head
        title
    body
        table(border='2')
            tr
                td Id
                td Name
            each val in dPerson
                tr
                    td #{val.id}
                    td #{val.name}
                
            